<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link href="../static/css/Layout.css" th:href="@{/css/Main.css}" rel="stylesheet" />


<body>

<h1>Employee  Processor</h1>

<div th:if="${message}">

    <h2 th:text="${message}"/>
    
</div>

<div th:if="${not #lists.isEmpty(employees)}">
    
    <table border ="1">
      <tr>
      	<th>Employee Name</th>
      	<th>Employee Id</th>
        <th>Salary</th>
       
      </tr>
      <tr th:each="emp  : ${employees}">
      	
        <td th:text="${emp.empName}"/>
        <td th:text="${emp.empId}"/>
        <td th:text="${emp.salary}"/>
       
       
      </tr>
    </table>
</div>
<br></br>

<form action="/backToupload" >
    <input  class ="button" type="submit" value="Try Again" />
</form>


</body>
</html>